body {
    font-family: Arial, sans-serif;
    background: #eef4f1;
    margin: 0;
}


header {
    background: #2e7d32;
    color: white;
    padding: 20px;
    text-align: center;
}


.contenedor {
    width: 90%;
    max-width: 500px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}


.tarjeta {
    margin-top: 30px;
}


.barra {
    width: 100%;
    height: 30px;
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
}


.barra-interna {
    height: 100%;
    width: 0%;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    transition: width 0.5s ease, background-color 0.5s ease;
}


.baja      { background: #d32f2f; }  
.media     { background: #ffa000; }  
.alta      { background: #2e7d32; }
